@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
  color: #f3f3f3;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 48px 72px;
  background-color: #080d18;
  height: 120px;
  align-content: center;
}

.main-body {
  display: flex;
  width: 100%;
  height: calc(100% - 120px);
}

.left {
  width: 34%;
  background-color: #05090e;
  padding: 84px;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left ul li {
  color: #394359;
}

.right {
  width: 66%;
  background-image: url(../images/task-list-bg.png);
  background-size: cover;
  padding: 84px;
}

.right h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task {
  height: 60px;
  width: 90%;
  display: flex;
  transition: transform 0.2s ease;
}

.task:hover {
  transform: scale(1.02);
}

.task-category {
  width: 60px;
  background-color: rgb(0, 140, 255);
  display: flex;
  min-height: 100%;
  flex-shrink: 0;
  transition: box-shadow 0.2s ease;
}

.task-category:hover {
  /* color: rgb(0, 132, 255); */
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.103);
}

.task-information {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 12px;
}

.task-title {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.task-title p {
  font-size: 18px;
  font-weight: 700;
}

.task-title img {
  max-height: 12px;
  margin-left: 12px;
  opacity: 0.2;
  user-select: none;
}

.task-title img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.task-details {
  padding: 0 24px;
  visibility: hidden;
}

.task-details p {
  color: #394359;
}

.task-expand {
  flex: 1 0;
}

.details-visible {
  visibility: visible;
}
