@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}

body {
  width: 100%;
  height: 100vh;
  color: #f3f3f3;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 48px 72px;
  background-color: #080d18;
  height: 120px;
  align-content: center;
}

header.header-light {
  background-color: #e9edf4;
  color: #0c0c0c;
}

.toggle-mode {
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 160px;
  display: block;
  background-color: #1a3857;
  transition: all 0.2s ease;
  cursor: pointer;
}

.toggle-mode .toggle-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  transform: scale(0.8);
  transition: 0.2s ease;
}

.toggle-mode.toggle-active {
  background-color: #a8c6e5;
}

.toggle-mode.toggle-active .toggle-btn {
  left: 24px;
}

.main-body {
  display: flex;
  width: 100%;
  height: calc(100% - 120px);
}

.left {
  width: 34%;
  background-color: #05090e;
  padding: 84px 150px;
}

.left.left-light {
  background-color: #f3f5f9;
}

.left h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left ul li {
  color: #394359;
}

.left.left-light h1,
.right.right-light h1,
.right.right-light .task-container .task .task-information .task-title p {
  color: #0c0c0c;
}

.left.left-light ul li,
.right.right-light .task-container .task .task-information .task-details p {
  color: #aab3c9;
}

.right {
  width: 66%;
  background-image: url(../images/task-list-bg.png);
  background-size: cover;
  padding: 84px;
}

.right.right-light {
  background-image: url(../images/task-list-bg-inv.png);
}

.right h1 {
  font-size: 48px;
  margin-bottom: 48px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.task {
  height: 60px;
  min-width: 90%;
  display: flex;
  transition: transform 0.2s ease;
}

.task:hover {
  transform: scale(1.02);
}

.task-category {
  width: 60px;
  background-color: rgb(0, 140, 255);
  display: flex;
  min-height: 100%;
  flex-shrink: 0;
  transition: box-shadow 0.2s ease;
}

.task-category:hover {
  /* color: rgb(0, 132, 255); */
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.103);
}

.task-information {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 12px;
}

.task-information.task-light {
  background-color: rgba(255, 255, 255, 0.507);
}

.task-title {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.task-title p {
  font-size: 18px;
  font-weight: 700;
}

.task-title img {
  max-height: 12px;
  margin-left: 12px;
  opacity: 0.2;
  user-select: none;
}

.task-title img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.task-details {
  padding: 0 24px;
  visibility: hidden;
}

.task-details p {
  color: #394359;
}

.task-expand {
  flex: 1 0;
  transition: all 0.2s ease;
}

.new-task {
  display: flex;
  align-items: center;
  padding: 16px 26px;
  gap: 24px;
  background-color: rgba(0, 0, 0, 0.507);
  position: sticky;
  position: -webkit-sticky;
  margin-top: 24px;
  bottom: 48px;
  width: 90%;
  transition: transform 0.2s ease;
}

.new-task:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.new-task img {
  max-height: 12px;
}

.new-project img {
  max-height: 12px;
}

.new-project {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 36px;
  padding-left: 12px;
  opacity: 0.4;
}

.new-project:hover {
  cursor: pointer;
  opacity: 1;
}

/* .details-visible {
  visibility: visible;
} */
